
.myHeader{
	background-image: url(../images/abstract2.jpg);
	background-size: 100% 100%;
	font-size: 1.2em;
	font-weight: bold;
	color : white;
}

.jumbotron{
	background-color: #0099CC;
}

h2{
	color :#0099CC;
}

.glyphicon1{
	color:#0099CC;
	font-size: 4em;
}


.resume{
	font-size: 1.3em;
}

.MyBody{
	background-color: #CCFFFF;
}

.list-group-item{
	/*background-color: #00CCFF;*/

	background-color: #99FFCC;
}

.gauche{
	font-weight: bold;
	font-size: 1.2em;
}
