<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>CV - Pauline Klein</title>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body class="MyBody">

	<div class="container">
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
				<a class="navbar-brand" href="#">Pauline Klein - Ingénieur de développement informatique Junior</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="../index.html">Accueil</a></li>
						<li class="active"><a href="../views/experience.html">Expérience<span class="sr-only">(current)</span></a></li>
						<li ><a href="../views/formation.html">Formation</a></li>
						<li><a href="../views/projetsU.html">Projets Universitaires</a></li>
						<li><a href="../views/contact.html">Contact</a></li>

					</ul>
				</div>
			</div>
		</nav>
	</div>
		
		<header>
		<div class="jumbotron myHeader">
			<div class="container">
				<h1>Expériences professionnelles</h1>
			</div>
			
		</div>
		</header>
		<div class="row ">
			<section class="container formation">
				<div class="col-md-3 gauche">
					<div>Juin 15 - Août 15</div>
					<div>(50 jours)</div>
					<div>DTA Ingénierie</div>
				</div>

				<div class="col-md-9">
					<h2>En formation</h2>
					<p><a href="https://github.com/PaulieKlein">https://github.com/PaulieKlein</a> : Lien vers mon profil GITHUB contenant les applications réalisées au cours de la formation</p>
					<ul class="list-group">
 						 <li class="list-group-item"><u><b>cv-bootstrap</b></u>: mon cv réalisé avec html 5, CSS3 et bootstrap</li>
  						<li class="list-group-item"><u><b>Module_JavaEE</b></u> : application web BankonetWeb où un utilisateur peut se connecter à une application bancaire (utilisation de la base de données MySQL avec PHPMyAdmin, fait en Java EE)</li>
 						<li class="list-group-item"><u><b>Module_JPA</b></u> : application qui permet de créer et de manipuler une base de données créée avec JPA</li>
 						 <li class="list-group-item"><u><b>Module_Java</b></u> : application bancaire (utilisation de la base de données MySQL avec PHPMyAdmin, fait en Java)</li>
    					<li class="list-group-item"><u><b>Module_NoSQL</b></u> : exemples d’utlisation de bases NoSQL (Cassandra,Rédis)</li>        
    					<li class="list-group-item"><u><b>Bankonet_mongodb_java</b></u> : exemples d’utlisation de base NoSQL (MongoDB)</li>
    					<li class="list-group-item"><u><b>bataille-navale-angularjs</b></u> : exemple d’utilisation d’AngularJS avec le concept du jeu de la bataille navale</li>
   		 				<li class="list-group-item"><u><b>Module_html.github.io</b></u> : CV et exemples d’utilisation avec de html 5 et CSS 3</li>


					</ul>
				</div>

			</section>

		</div>
		<div class="row ">
			<section class="container formation">
				<div class="col-md-3 gauche">
					<div>Juin 15 - Août 15 </div>
					<div>(50 jours)</div>
					<div>Clever Institut - DTA Ingénierie,Saint Herblain</div>
				</div>

				<div class="col-md-9">
					<h2>Formation Développement JAVA JEE – Certification – JAVA SE 7 </h2>
					<p>Formation pratique vise à compléter et concrétiser les connaissances nécessaires pour la conception, le développement et la maintenance des applications Java en environnement JEE, associée à l’ensemble des technologies et frameworks utilisés en entreprise.</p>
					<ul class="list-group">
    					<li class="list-group-item">Introduction et culture du développeur (1 jour)</li>
    					<li class="list-group-item">Module Open Source (2 jours)</li>
    						<ul>
    							<li>Gestion des sources avec Git</li>
    							<li>Pratique de Github</li>
    						</ul>  
    					<li class="list-group-item">Module Front-End (9 jours)</li>
    					    <ul>
    							<li>HTML 5, CSS3, JavaScript</li>
								<li>Frameworks CSS et Twitter Bootstrap</li>
								<li>Développement des applications Web riches avec Angular JS</li>
								<li>Outillage du développeur Front-End (NPM, Grunt ou Gulp, Bower)</li>
								<li>Tests Unitaires Front-End (Karma, Jasmine, Protractor)</li>
    						</ul> 
    					<li class="list-group-item">Module Java (4 jours)</li>
    						<ul>
    							<li>Langage Java – Approche impérative</li>
    							<li>Langage Java – Approche orientée objet (UML)</li>
    							<li>Langage Java – Approche fonctionnelle (nouveautés Java 8)</li>
    						</ul>

    					<li class="list-group-item">Module Données (4 jours)</li>
    					<ul>
    						<li>Langage SQL avec MySQL et Oracle</li>
    						<li>Tour d’horizon des bases de données NoSQL</li>
    						<li>MongoDB pour développeur Java</li>
    					</ul>
    					<li class="list-group-item">Module Back-End avec Java EE (8 jours)</li> 
    					<ul>
    						<li>Développement Web  (Servlet, JSP, TagLibs)</li>
    						<li>JPA : Persistance avec JAVA EEEJB en architecture JEE</li>
    						<li>EJB : Composants métiers avec JAVA EE</li>
    						<li>JAX-RS : REST avec JAVA EE</li>
    					</ul>
    					<li class="list-group-item">Usine Logicielle (4 jours)</li>
    					<ul>
    						<li>Gestion du cycle de vie d’un projet avec MAVEN et introduction à Gradle</li>
    						<li>Intégration continue avec Jenkins, qualimétrie avec Sonar, Gestion des livrables avec Nexus</li>
    					</ul>
    					<li class="list-group-item">Modules Back-End avec Spring Framework (7 jours)</li>
    						<ul>
    							<li>Spring Framework – Core</li>
    							<li>Spring Framework – JDBC et ORM</li>
    							<li>Spring Framework - AOP</li>
    							<li>Spring Framework –Web, MVC et Services REST</li>
    							<li>Spring Framework – Sécurité / Data / Boot</li>
    						</ul>
    					<li class="list-group-item">Modules entreprises (2 jours)</li>
    					<ul>
    						<li>Cycle de vie et méthode projet</li>
    						<li>méthodologie Agile avec Scrum </li>
    						<ul>
    							<li>ScrumBoard, Burdown</li>
    							<li>Estimation et planification des Sprints et des Releases</li>
    							<li>Le planning Poker</li>
    							<li>Les Daily Scrum</li>
    						</ul>
    					</ul>
    					<li class="list-group-item">Atelier pratique : Projet JAVA EE, Spring Framework et Angular JS</li>  
					</ul>
					<p><b>Environnement technique </b> : JAVA/JEE, Hibernate, Spring, EJB, REST, HTML 5, CSS3, Javascript, JSF2, Angular JS, Jenkins, Sonar, GIT, MAVEN, Scrum</p>
				</div>
				
			</section>
		</div>
		<div class="row ">
			<section class="container formation">
				<div class="col-md-3 gauche">
					<div>Nov14 – Mai 15</div>
					<div>(7 mois)</div>
					<div>Axione – Montigny le Bretonneux (78)</div>
				</div>

				<div class="col-md-9">
					<h2>Chef de projets Conception</h2>
					<p>Gestion des projets avant travaux pour France Pylône Service (FPS) – Service MOC- FPS – Nombre de persl : 9</p>
					<p>Portefeuille de projets donné par le client FPS sur Ile de France – Gestion des projets pour les opérateurs FREE, Bouygues Télécoms</p>
					<ul class="list-group">
						<li class="list-group-item">Rapport de faisabilité pour les liaisons FH entre 2 sites pour FREE : </li>
						<ul>
							<li>Planification des visites</li>
							<li>Gestions des ressources</li>
							<li>Rédaction des rapports</li>
						</ul>
						<li class="list-group-item">Dossier avant travaux pour l’ajout d’opérateur sur les pylônes FPS :</li>
						<ul>
							<li>Réalisation des plans</li>
							<li>Gestion des ressources</li>
							<li>Réalisations des devis</li>
						</ul>
						<li class="list-group-item">Visites sur site pour vérifications des travaux</li>
						<li class="list-group-item">Dossier fin de travaux </li>
						<ul>
							<li>Réalisation des plans</li>
							<li>Gestion des ressources</li>
						</ul>
				</ul>
				<p><b>Environnement technique</b> : Télécoms</p>

				</div>
				
			</section>

		</div>
		<div class="row ">
			<section class="container formation">
				<div class="col-md-3 gauche">
					<div>Août – Oct14</div>
					<div>(3 mois)</div>
					<div>Axione – Montigny le Bretonneux (78)</div>
				</div>

				<div class="col-md-9">
					<h2>Assistant Chef de projets</h2>
					<ul class="list-group">
						<li class="list-group-item">Maitrise de conception :</li>
						<ul>
							<li>Planification et visite sur site (Datacenter, MSC, Maquette Bouygues télécoms) avec le client </li>
							<li>Rédaction des rapports</li>
							<li>Réalisation des devis</li>
						</ul>
						<li class="list-group-item">Maitrise d’oeuvre :</li>
						<ul>
							<li>Planification des travaux</li>
							<li>Suivi des travaux</li>
							<li>Vérification des travaux</li>
							<li>Rédaction des rapports « fin de travaux »</li>
						</ul>
					</ul>
				</div>
				
			</section>

		</div>
		<div class="row ">
			<section class="container formation">
				<div class="col-md-3 gauche">
					<div>Févr – Juillet 14</div>
					<div>(6 mois)</div>
					<div>Axione – Montigny le Bretonneux (78)</div>
				</div>

				<div class="col-md-9">
					<h2>Stage Ingénieur - Assistant Chef de projets</h2>
					<ul class="list-group">
						<li class="list-group-item">Maitrise de conception :</li>
						<ul>
							<li>Planification et visite sur site (Datacenter, MSC, Maquette Bouygues télécoms) avec le client </li>
							<li>Rédaction des rapports</li>
							<li>Réalisation des devis</li>
						</ul>
						<li class="list-group-item">Maitrise d’oeuvre :</li>
						<ul>
							<li>Planification des travaux</li>
							<li>Suivi des travaux</li>
							<li>Vérification des travaux</li>
							<li>Rédaction des rapports « fin de travaux »</li>
						</ul>
					</ul>
				</div>
				
			</section>
			<div class="row ">
			<section class="container formation">
				<div class="col-md-3 gauche">
					<div>Juin 13 – Août 13</div>
					<div>(3 mois)</div>
					<div>Manipal Institute of Technology – Manipal (Inde)</div>
				</div>

				<div class="col-md-9">
					<h2>Stage technicien </h2>
					<ul class="list-group">
						<li class="list-group-item">Réalisation d’une application web « Diary and Schedule Management System »  pour le département informatique de l’université</li>
						<li class="list-group-item">Création d’une base de données sur le Cloud avec Microsoft  Azure SQL database</li>
					</ul>
					<p><b>Environnement technique </b> : JavaEE, SQL </p>
				</div>
				
			</section>

		</div>
		<div class="row ">
			<section class="container formation">
				<div class="col-md-3 gauche">
					<div>Juin 12</div>
					<div>(1 moi)</div>
					<div>Atelier de maintenance RATP – Saint Ouen (93)</div>
				</div>

				<div class="col-md-9">
					<h2>Stage Ouvrier - Mécanicien</h2>
					<ul class="list-group">
						<li class="list-group-item">Démontage, montage et maintenance des bogies des métros</li>
						<li class="list-group-item">Vérification des moteurs</li>
					</ul>
				</div>
				
			</section>
		</div>
		<footer>
		
		<div class="jumbotron">
			<div class="container">
				
				<a class ="btn btn-primary col-md-2 col-md-offset-5" href="contact.html" role="button">Contact</a>
				
			</div>
			<br>
		</div>	
		</footer>
	</div>
	
<!--Install JQuery-->
<script src="//cdn.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>