<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>CV - Pauline Klein</title>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body class="MyBody">	
	<div class="container">
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
				<a class="navbar-brand" href="#">Pauline Klein - Ingénieur de développement informatique Junior</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="../index.html">Accueil</a></li>
						<li><a href="../views/experience.html">Expérience</a></li>
						<li ><a href="../views/formation.html">Formation</a></li>
						<li class="active"><a href="../views/projetsU.html">Projets Universitaires<span class="sr-only">(current)</span></a></li>
						<li><a href="../views/contact.html">Contact</a></li>

					</ul>
				</div>
			</div>
		</nav>
	</div>
		
		<header>
		<div class="jumbotron myHeader">
			<div class="container">
				<h1>Projets universitaires</h1>

			</div>
			
		</div>
		</header>
		<div class="row ">
			<section class="container formation">
				<div class="col-md-3 gauche">
					<div>Janv 13 – Janv 14</div>
					<div>Département  ISET (Ingénierie des Systèmes Electroniques de Télécommunication) – ESIGELEC, Rouen</div>
				</div>

				<div class="col-md-9 droite">
					<h2>Projet Ingénieur de fin d'étude</h2>
					<p>Mon rôle : chef de projet</p>
					<p>Réalisation d’un « Serious Game » </p>
					<ul class="list-group">
						<li class="list-group-item">Planifications des réunions</li>
						<ul>
							<li>Réunions d’équipe</li>
							<li>Réunions avec le client</li>
						</ul>
						<li class="list-group-item">Gestion de l’équipe </li>
						<ul>
							<li>Répartition des tâches</li>
							<li>Gestion des conflits</li>
						</ul>
						<li class="list-group-item">Développement du jeu côté professeur</li>
					</ul>
					<p><b>Environnement technique</b>:HTML5/CSS3, PHP</p>
				</div>
			</section>
		</div>
		<div class="row ">
			<section class="container formation">
				<div class="col-md-3 gauche">
					<div>Nov 12 – Mai 13</div>
					<div>Ecole élémentaire Chevreul - Gay – Classe CE2, Le Petit Quevilly</div>
				</div>

				<div class="col-md-9 droite">
					<h2>Projet «  L’Impressionisme prend un coup de jeune » </h2>
					<ul class="list-group">
						<li class="list-group-item">Encadrement des élèves :</li>
						<ul>
							<li>Visite Musée des Beaux Arts avec les élèves </li>
							<li>Réalisation de peintures en revisitant des tableaux impressionnistes</li>
							<li>Présentations aux parents </li>
						</ul>
						<li class="list-group-item">Demande subvention à la mairie</li>
					</ul>
				</div>
				
			</section>

		</div>

		<footer>
		
		<div class="jumbotron">
			<div class="container">
				
				<a class ="btn btn-primary col-md-2 col-md-offset-5" href="contact.html" role="button">Contact</a>
				
			</div>
			<br>
		</div>	
		</footer>
	</div>
	
<!--Install JQuery-->
<script src="//cdn.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>